from datetime import datetime
from tests.gherkinexecutor.Feature_Import.Color import Color
from tests.gherkinexecutor.Feature_Import import *
from typing import List
import sys

class Feature_Import_glue :
    DNCString = "?DNC?"


    def Given_this_data_should_be_okay(self, values: List[ImportData]) -> None:
        print("---  " + "Given_this_data_should_be_okay")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_ImportDataInternal()
        raise NotImplementedError("Must implement")

    def Given_this_data_should_fail(self, values: List[ImportData]) -> None:
        print("---  " + "Given_this_data_should_fail")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_ImportDataInternal()
        raise NotImplementedError("Must implement")

