from tests.gherkinexecutor.Feature_Define import *
from typing import List
import sys

class Feature_Define_glue :
    DNCString = "?DNC?"


    def Given_this_data(self, values: List[IDValue]) -> None:
        print("---  " + "Given_this_data")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def Then_should_be_equal_to_data(self, values: List[IDValue]) -> None:
        print("---  " + "Then_should_be_equal_to_data")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

