from tests.gherkinexecutor.Feature_Background import *
from typing import List
import sys

class Feature_Background_glue:
    DNCString = "?DNC?"


    def Given_Background_function_sets_a_value(self, values: List[List[str]]) -> None:
        print("---  " + "Given_Background_function_sets_a_value")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def Given_value_for_cleanup_should_be_set_to(self, values: List[List[str]]) -> None:
        print("---  " + "Given_value_for_cleanup_should_be_set_to")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def Given_a_regular_function(self) -> None:
        print("---  " + "Given_a_regular_function")
        raise NotImplementedError("Must implement")

    def Then_background_should_set_value_to(self, values: List[List[str]]) -> None:
        print("---  " + "Then_background_should_set_value_to")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def And_set_a_value_for_cleanup(self, values: List[List[str]]) -> None:
        print("---  " + "And_set_a_value_for_cleanup")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

