from tests.gherkinexecutor.Feature_Data_Types import *
from typing import List
import sys

class Feature_Data_Types_glue :
    DNCString = "?DNC?"


    def Given_type_values_are(self, values: List[SomeTypes]) -> None:
        print("---  " + "Given_type_values_are")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_SomeTypesInternal()
        raise NotImplementedError("Must implement")

    def Then_this_should_be_equal(self, values: List[SomeTypes]) -> None:
        print("---  " + "Then_this_should_be_equal")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_SomeTypesInternal()
        raise NotImplementedError("Must implement")

