from tests.gherkinexecutor.Feature_Tic_Tac_Toe_Game import *
from typing import List
import sys

class Feature_Tic_Tac_Toe_Game_glue :
    DNCString = "?DNC?"


    def Given_board_is(self, values: List[List[str]]) -> None:
        print("---  " + "Given_board_is")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def When_move_is(self, values: List[Move]) -> None:
        print("---  " + "When_move_is")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_MoveInternal()
        raise NotImplementedError("Must implement")

    def Then_board_is_now(self, value: str) -> None:
        print("---  " + "Then_board_is_now")
        print(value)
        raise NotImplementedError("Must implement")

    def When_one_move_is(self, values: List[List[str]]) -> None:
        print("---  " + "When_one_move_is")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def When_moves_are(self, values: List[Move]) -> None:
        print("---  " + "When_moves_are")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_MoveInternal()
        raise NotImplementedError("Must implement")

