from tests.gherkinexecutor.Feature_Optional_Tests import *
from typing import List
import sys

class Feature_Optional_Tests_glue :
    DNCString = "?DNC?"


    def Given_This_will_always_be_run(self) -> None:
        print("---  " + "Given_This_will_always_be_run")
        raise NotImplementedError("Must implement")

    def Given_This_may_be_run(self) -> None:
        print("---  " + "Given_This_may_be_run")
        raise NotImplementedError("Must implement")

    def Given_This_will_be_run_if_tag(self) -> None:
        print("---  " + "Given_This_will_be_run_if_tag")
        raise NotImplementedError("Must implement")

