package gherkinexecutor.Feature_Simple_Test
import kotlin.test.fail

class Feature_Simple_Test_glue {

    def Given_table_is(self, value: List<ATest>):
        print('*******')
        print(value)
        fail("Not yet implemented"

    }
