from tests.gherkinexecutor.ID import ID
from tests.gherkinexecutor.TemperatureCalculations import TemperatureCalculations
from tests.gherkinexecutor.Feature_Json import *
from typing import List
import sys

class Feature_Json_glue :
    DNCString = "?DNC?"

    def log(self, value):
        try:
            with open("log.txt", "a") as my_log:
                my_log.write(value + "\n")
        except IOError:
            print("*** Cannot write to log", file=sys.stderr)
    

    def Given_one_object_is(self, values: List[SimpleClass]) -> None:
        print("---  " + "Given_one_object_is")
        self.log("---  " + "Given_one_object_is")
        self.log(str(values))
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_SimpleClassInternal()

    def Then_Json_should_be(self, value: str) -> None:
        print("---  " + "Then_Json_should_be")
        self.log("---  " + "Then_Json_should_be")
        self.log(str(value))
        print(value)

    def Given_Json_is(self, value: str) -> None:
        print("---  " + "Given_Json_is")
        self.log("---  " + "Given_Json_is")
        self.log(str(value))
        print(value)

    def Then_the_converted_object_is(self, values: List[SimpleClass]) -> None:
        print("---  " + "Then_the_converted_object_is")
        self.log("---  " + "Then_the_converted_object_is")
        self.log(str(values))
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_SimpleClassInternal()

    def Given_a_table_is(self, values: List[SimpleClass]) -> None:
        print("---  " + "Given_a_table_is")
        self.log("---  " + "Given_a_table_is")
        self.log(str(values))
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_SimpleClassInternal()

    def Then_Json_for_table_should_be(self, value: str) -> None:
        print("---  " + "Then_Json_for_table_should_be")
        self.log("---  " + "Then_Json_for_table_should_be")
        self.log(str(value))
        print(value)

    def Given_Json_for_table_is(self, value: str) -> None:
        print("---  " + "Given_Json_for_table_is")
        self.log("---  " + "Given_Json_for_table_is")
        self.log(str(value))
        print(value)

    def Then_the_converted_table_should_be(self, values: List[SimpleClass]) -> None:
        print("---  " + "Then_the_converted_table_should_be")
        self.log("---  " + "Then_the_converted_table_should_be")
        self.log(str(values))
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_SimpleClassInternal()

