from tests.gherkinexecutor.Feature_Include import *
from typing import List
import sys

class Feature_Include_glue :
    DNCString = "?DNC?"


    def Given_a_string_include(self, value: str) -> None:
        print("---  " + "Given_a_string_include")
        print(value)
        raise NotImplementedError("Must implement")

    def Then_should_be_equal_to(self, value: str) -> None:
        print("---  " + "Then_should_be_equal_to")
        print(value)
        raise NotImplementedError("Must implement")

    def Given_a_table(self, values: List[CSVContents]) -> None:
        print("---  " + "Given_a_table")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

    def Then_Should_be_equal_to_table(self, values: List[CSVContents]) -> None:
        print("---  " + "Then_Should_be_equal_to_table")
        for value in values:
            print(value)
             # Add calls to production code and asserts
        raise NotImplementedError("Must implement")

