from tests.gherkinexecutor.Feature_Data_Definition_Error import *
from typing import List
import sys

class Feature_Data_Definition_Error_glue :
    DNCString = "?DNC?"


    def Given_table_is(self, values: List[ATest]) -> None:
        print("---  " + "Given_table_is")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_ATestInternal()
        raise NotImplementedError("Must implement")

    def Given_table_is_bad_initializer(self, values: List[ATestBad]) -> None:
        print("---  " + "Given_table_is_bad_initializer")
        for value in values:
            print(value)
             # Add calls to production code and asserts
            i = value.to_ATestBadInternal()
        raise NotImplementedError("Must implement")

